---
import { Hero } from '@/components/ui/animated-hero';
import Layout from '../layouts/Layout.astro';
import { HandHelping, Phone, Users, Zap } from "lucide-react";
import { Timeline } from '@/components/ui/timeline';
import { Feature } from '@/components/ui/feature-with-advantages';
import { Button } from '@/components/ui/button';

---

<Layout>
	<Hero client:load/>
	<div class="py-30"></div>
	<Timeline client:load/>
	<Feature />
	<div class="flex justify-center">
		<h3></h3>
		<Button>
			<Phone className='me-2' />
			Hubungi Kami Sekarang
		</Button>
	</div>
</Layout>
