---
import "../styles/global.css";
import { Navbar } from "../components/navbar/Navbar"
import { Book, Sunset, Trees, Zap } from "lucide-react";
import { Navbar1 } from "@/components/shadcnblocks-com-navbar1";
import { StackedCircularFooter } from "@/components/ui/stacked-circular-footer";


---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-9RYH2G1DR4"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9RYH2G1DR4');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Ngeteh</title>
		<link rel="icon" href="favicon-32x32.png" type="image/x-icon"/>
		<script async src="https://cdn.seline.com/seline.js" data-token="1afe204a395290e"></script>
	</head>
	<body>
		<div class="container mx-auto px-3 sm:px-0">
			<Navbar1 client:load/>
		
			<slot />
			<div id="my-chatbot-container"></div>
		</div>
		<script src="https://alfajri23.github.io/frontend-rag-pdf/chatbot-full.js"></script>
		<StackedCircularFooter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
